html {
    background-color: rgb(188, 233, 246);
    overflow-x: hidden;
}



.logo {
  position: absolute;
    font-size: 50px;
    font-family: 'Arimo', sans-serif;
    padding-left: 15%;
}

.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
  position: fixed;
  border-radius: 0.5cm;
  width: 96.5%;
  z-index: 1;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #000000;
  transition:.3s linear;
}
h1 {
    font-family: 'Arimo', sans-serif;
}
.cart2{
    transform: scale(-1, 1)
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #000000;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}

.cart1{
    padding-top: 10%;
}

.cart2{
  padding-top: 10%;
  z-index: -1000;
}


.infa {
  width: 40%;
  height: 20%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-top: -22%;
  margin-left: 58%;
}

.infa1 {
  width: 40%;
  height: 20%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  margin-top: -30%;
  margin-left: 5%;
}

.perv{
  margin: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 20%;
    left: 10%;
    margin-right: -50%;
    border-radius: 5%;
    background-color: Snow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.perv1{
  width: 40%;
  height: 80%;
  margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    border-radius: 5%;
    float: left;
}
.perv2{
  width: 40%;
  margin: 5%;
  height: 80%;
  text-align: left;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5%;
  float: right;
}

.next{
  width: 40%;
  height: 80%;
  margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    border-radius: 5%;
    float: left;
}
.next1{
  width: 40%;
  margin: 5%;
  height: 80%;
  text-align: left;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5%;
  float: right;
}

.next2{
  margin: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 110%;
    left: 10%;
    margin-right: -50%;
    border-radius: 5%;
    background-color: Snow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.gov{
  width: 40%;
  height: 80%;
  margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    border-radius: 5%;
    float: left;
}
.gov1{
  width: 40%;
  margin: 5%;
  height: 80%;
  text-align: left;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5%;
  float: right;
}

.gov2{
  margin: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    top: 200%;
    left: 10%;
    margin-right: -50%;
    border-radius: 5%;
    background-color: Snow;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.nazvan{
  margin: 0;
    position: fixed;
    width: 20%;
    height: 8%;
    top: 3%;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    margin-right: -50%;
    z-index: 1;
  
}

.nazvan1{
  margin: 0;
    position: fixed;
    width: 20%;
    height: 8%;
    top: 3%;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    margin-right: -50%;
    z-index: 1;
  
}

.nazvan2{
  margin: 0;
    position: fixed;
    width: 20%;
    height: 8%;
    top: 3%;
    left: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
    margin-right: -50%;
    z-index: 1;
  
}

.pik {
  margin-top: 430px;
  left: 65%;
  position: absolute;
  z-index: -1;
}

.pik1 {
  margin-top: 300px;
  left: 60%;
  position: absolute;
  z-index: -10;
}

.pik2 {
  margin-top: 300px;
  left: 60%;
  position: absolute;
  z-index: -10;
}

.chen {
  position: absolute;
  background-color: rgb(138, 207, 226);
  border-radius: 25px;
  width: 400px;
  height: 500px;
  top: 250px;
  left: 100px;
}

.chen1 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  border-radius: 25px;
  width: 400px;
  height: 500px;
  top: 250px;
  left: 610px;
}

.chen2 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  border-radius: 25px;
  width: 400px;
  height: 500px;
  top: 250px;
  left: 1120px;
}

.tht {
    position: absolute;
    top: 15%;
    width: 70%;
    text-align: center;
    line-height: 0.8cm;
    left: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    margin-right: -50%;
}

.tm77 {
  position: absolute;
  top: 150px;
  width: 70%;
  text-align: center;
  line-height: 0.8cm;
  left: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-right: -50%;
}

.tm78 {
  position: absolute;
  top: 1600px;
  width: 70%;
  text-align: center;
  line-height: 0.8cm;
  left: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-right: -50%;
}

.tmper {
  top: 1600px;
  width: 1100px;
  text-align: center;
  line-height: 0.8cm;
  left: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-right: -50%;
}





.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 300px;
  height: 80px;
  line-height: 85px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: white;
  transform: translateY(-7px);
}

.knopka {
  position: absolute;
  top: 360px;
  left: 30px;
}

.tht1 {
  position: absolute;
  top: 25px;
  text-align: center;
  line-height: 1.5cm;
  left: 15px;
 font-family: 'Courier New', Courier, monospace;
 font-size: 18px;
}

.tht2 {
  position: absolute;
  top: 220px;
 left: 100px;
 font-family: 'Courier New', Courier, monospace;
 font-size: 35px;
}

.tm {
  position: absolute;
  background-color: rgb(138, 207, 226);
  top: 250px;
  width: 450px;
  height: 600px;
  left: 50px;
  text-align: center;
  border-radius: 1cm;
  line-height: 0.8cm;
  font-family: 'Courier New', Courier, monospace;
 
}

.tm3 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  top: 250px;
  width: 450px;
  height: 600px;
  left: 575px;
  text-align: center;
  border-radius: 1cm;
  line-height: 0.8cm;
  font-family: 'Courier New', Courier, monospace;
 
}

.tm4 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  top: 250px;
  width: 450px;
  height: 600px;
  left: 1100px;
  text-align: center;
  border-radius: 1cm;
  line-height: 0.8cm;
  font-family: 'Courier New', Courier, monospace;
 
}

.tm5 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  top: 900px;
  width: 450px;
  height: 600px;
  left: 315px;
  text-align: center;
  border-radius: 1cm;
  line-height: 0.8cm;
  font-family: 'Courier New', Courier, monospace;
 
}
.tm6 {
  position: absolute;
  background-color: rgb(138, 207, 226);
  top: 900px;
  width: 450px;
  height: 600px;
  left: 845px;
  text-align: center;
  border-radius: 1cm;
  line-height: 0.8cm;
  font-family: 'Courier New', Courier, monospace;
 
}

.tm2{
  font-size: 15px;
  text-align: center;
}

.tmk{
  margin-top: 30px;
}

.tmf {
  position: absolute;
  background-color: rgb(180, 209, 216);
  width: 1580px;
  height: 300px;
  top: 320%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}


.cont {
  position: absolute;
  background-color: rgb(180, 209, 216);
  width: 1580px;
  height: 300px;
  top: 170%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.cont1 {
  position: absolute;
  background-color: rgb(180, 209, 216);
  width: 1580px;
  height: 300px;
  top: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.cont2 {
  position: absolute;
  background-color: rgb(180, 209, 216);
  width: 1580px;
  height: 300px;
  top: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.cont22 {
  position: absolute;
  background-color: rgb(180, 209, 216);
  width: 1580px;
  height: 300px;
  top: 300%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.ct {
  text-align: center;
}

.ct1 {
  position: absolute;
  margin-left: 20px;
  text-align: center;
  width: 400px;
}

.ct2 {
  position: absolute;
  margin-left: 600px;
  text-align: center;
  width: 400px;
}


.ct3 {
  position: absolute;
  text-align: center;
  left: 1200px;
  width: 250px;
}

@media (max-width: 778px){
  .menu-main {
    float: none;
    padding-top: 1px;
  }
  .top-menu {
    text-align: center;
    font-size: 15px;
    padding: 1px 0 0 0;
  }
  .menu-main a {padding: 0 25px;}
  .menu-main a:before {transform: rotate(45deg) translateX(-6px);}

  .nazvan{
    top: 75px;
    font-size: 7px;
    width: 100px;
    margin-left: 15px;
  }
  
  .nazvan1{
    top: 55px;
    font-size: 7px;
    width: 100px;
    margin-left: 20px;
  }

  .nazvan2{
    top: 55px;
    font-size: 7px;
    width: 100px;
    margin-left: 20px;
  }

  .cart1{
    margin-left: -280px;
    margin-top: 30px;
    transform: scale(0.45);
  }

  .infa {
    margin-left: 420px;
    width: 320px;
    margin-top: -350px;
    font-size: 17px;
  }

  .infa1 {
    margin-left: 20px;
    width: 320px;
    margin-top: -430px;
    font-size: 17px;
  }

  .cart2{
    margin-left: 225px;
    margin-top: -170px ;
    transform: scale(0.45);
  }
  .cont{
    font-size: 15px;
    width: 740px;
    margin-top: -500px;
    height: 330px;
  }

  .ct1 {
    position: absolute;
    margin-left: 20px;
    text-align: center;
    width: 300px;
  }
  .ct2 {
    position: absolute;
    margin-left: 400px;
    margin-top: 0px;
    text-align: center;
    width: 300px;
  }
  .ct3 {
    position: absolute;
    left: 200px;
    margin-top: 150px;
    text-align: center;
    width: 300px;
  }
  .perv{
    left: 13px;
    width: 730px;
    height: 520px;
  }
  .perv1{
    font-size: 15px;
    width: 650px;
    float: none;
  }

  .perv2{
    margin-top: -220px;
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .pik{
    transform: scale(0.6);
    left: 380px;
    margin-top: 390px;
  }

  .next2{
    margin-top: -120px;
    left: 13px;
    width: 730px;
    height: 520px;
  }
  .next{
    font-size: 15px;
    width: 650px;
    float: none;
  }

  .next1{
    margin-top: -240px;
    font-size: 15px;
    width: 650px;
    float: none;
  }

  .pik1{
    transform: scale(0.9);
    left: 300px;
    margin-top: -520px;
  }

  .gov2{
    margin-top: -240px;
    left: 13px;
    width: 730px;
    height: 520px;
  }
  .gov{
    font-size: 15px;
    width: 650px;
    float: none;
  }

  .gov1{
    margin-top: -220px;
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .pik2{
    transform: scale(0.9);
    left: 300px;
    margin-top: -520px;
  }

  .cont2{
    font-size: 15px;
    width: 740px;
    margin-top: 1200px;
    height: 330px;
  }

  .cont1{
    font-size: 15px;
    width: 740px;
    margin-top: 550px;
    height: 330px;
  }

  .tht {
    margin-top: 30px;
    font-size: 9px;
    width: 520px;
  }

  .chen{
    margin-top: 20px;
    font-size: 15px;
    width: 350px;
    height: 450px;
    left: 15px;
  }
  .chen1{
    margin-top: 20px;
    font-size: 15px;
    width: 350px;
    height: 450px;
    left: 390px;
  }
  .chen2{
    margin-top: 520px;
    font-size: 15px;
    width: 350px;
    height: 450px;
    left: 200px;
  }
  .tht1 {
    font-size: 15px;
  }
  .tht2 {
    font-size: 25px;
  }


  .floating-button {
    margin-left: -5px;
    line-height: 50px;
    width: 300px;
    height: 50px;
  }

  .tmf{
    font-size: 15px;
    width: 740px;
    top: 3350px;
    height: 330px;
  }

  .tm{
    width: 310px;
    left: 45px;
    height: 700px;
  }
  .tm3{
    top: 250px;
    width: 310px;
    left: 400px;
    height: 700px;
  }
  .tm4{
    margin-top: 750px;
    width: 310px;
    left: 45px;
    height: 700px;
  }
  .tm5{
    margin-top: 100px;
    width: 310px;
    left: 400px;
    height: 700px;
  }
  .tm6{
    margin-top: 850px;
    width: 310px;
    left: 220px;
    height: 700px;
  }

  .tm78 {
    width: 700px;
    text-align: center;
    left: 15px;
    top: 2500px;
    font-size: 10px;
  }

  .tmper {
    width: 700px;
    left: 15px;
    top: 4050px;
    font-size: 15px;
  }
}


@media  (max-width: 370px) {
  .menu-main {
    float: none;
    padding-top: 10px;
  }
  .top-menu {
    text-align: center;
    font-size: 12px;
    padding: 1px 0 0 0;
  }
  .menu-main a {padding: 0 6px;}
  .menu-main a:before {transform: rotate(45deg) translateX(-6px);}

  .nazvan{
    top: 70px;
    font-size: 7px;
    width: 100px;
    margin-left: -10px;
  }

  .nazvan1{
    top: 50px;
    font-size: 7px;
    width: 100px;
    margin-left: -10px;
  }

  .nazvan2{
    top: 50px;
    font-size: 7px;
    width: 100px;
    margin-left: -10px;
  }

  .cart1{
    margin-left: -145px;
    margin-top: 30px;
    transform: scale(0.38);
  }

  .infa {
    margin-left: 20px;
    width: 320px;
    margin-top: -120px;
    font-size: 17px;
  }

  .infa1 {
    margin-left: 20px;
    width: 320px;
    margin-top: -180px;
    font-size: 17px;
  }

  .cart2{
    margin-left: -145px;
    margin-top: -200px ;
    transform: scale(0.38);
  }
  .cont{
    font-size: 15px;
    width: 335px;
    margin-top: -200px;
    height: 450px;
  }

  .ct1 {
    position: absolute;
    margin-left: 20px;
    text-align: center;
    width: 300px;
  }
  .ct2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 150px;
    text-align: center;
    width: 300px;
  }
  .ct3 {
    position: absolute;
    left: 15px;
    margin-top: 280px;
    text-align: center;
    width: 300px;
  }
  .perv{
    left: 13px;
    width: 320px;
    height: 700px;
  }
  .perv1{
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .perv2{
    margin-top: -200px;
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .pik{
    transform: scale(0.38);
    left: 80px;
    margin-top: 600px;
  }

  .next2{
    margin-top: 35px;
    left: 13px;
    width: 320px;
    height: 700px;
  }
  .next{
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .next1{
    margin-top: -200px;
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .pik1{
    transform: scale(0.5);
    left: 10px;
    margin-top: -550px;
  }

  .gov2{
    margin-top: 65px;
    left: 13px;
    width: 320px;
    height: 700px;
  }
  .gov{
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .gov1{
    margin-top: -200px;
    font-size: 15px;
    width: 300px;
    float: none;
  }

  .pik2{
    transform: scale(0.5);
    left: 10px;
    margin-top: -550px;
  }

  .cont2{
    font-size: 15px;
    width: 335px;
    margin-top: 1600px;
    height: 450px;
  }

  .cont1{
    font-size: 15px;
    width: 335px;
    margin-top: 1100px;
    height: 450px;
  }

  .tht {
    margin-top: 30px;
    font-size: 11px;
    width: 250px;
  }

  .chen{
    margin-top: 100px;
    font-size: 15px;
    width: 300px;
    height: 450px;
    left: 22px;
  }
  .chen1{
    margin-top: 600px;
    font-size: 15px;
    width: 300px;
    height: 450px;
    left: 22px;
  }
  .chen2{
    margin-top: 1100px;
    font-size: 15px;
    width: 300px;
    height: 450px;
    left: 22px;
  }
  .tht1 {
    font-size: 15px;
  }
  .tht2 {
    font-size: 20px;
  }


  .floating-button {
    margin-left: -5px;
    line-height: 50px;
    width: 250px;
    height: 50px;
  }

  .tmf{
    font-size: 15px;
    width: 335px;
    top: 5300px;
    height: 450px;
  }

  .tm{
    width: 310px;
    left: 15px;
    height: 700px;
  }
  .tm3{
    top: 1000px;
    width: 310px;
    left: 15px;
    height: 700px;
  }
  .tm4{
    margin-top: 1500px;
    width: 310px;
    left: 15px;
    height: 700px;
  }
  .tm5{
    margin-top: 1600px;
    width: 310px;
    left: 15px;
    height: 700px;
  }
  .tm6{
    margin-top: 2350px;
    width: 310px;
    left: 15px;
    height: 700px;
  }

  .tm78 {
    width: 310px;
    text-align: center;
    left: 15px;
    top: 4050px;
    font-size: 10px;
  }

  .tmper {
    width: 310px;
    left: 15px;
    top: 4050px;
    font-size: 15px;
  }
  }

  

 

